<div class="card bg-faded">
    <div class="card-header" data-bs-toggle="" id="feedback-header" data-bs-target="#feedback-collapse" aria-expanded="false" aria-controls="feedback-collapse">
      <h6>Feedback</h6>
    </div>

    
    <div class="card-body collapse" id="feedback-collapse" data-toggle="validator">
        <span id="feedback-space">
            <form id="initial-feedback" class="needs-validation" novalidate></form>

            <form id="additional-feedback" class="needs-validation" novalidate></form>

            
        </span>
    </div>
</div>