{% extends "game/base.html" %}
{% load static %}

{% block title %}
<title>True Helpfulness</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <img src="{% static 'game/science-discovery.svg' %}" alt="Lightbulb" class="img-fluid mx-auto d-block" style="max-width: 10%; width: 10%;">
    <h1 class="display-4 text-center">True Helpfulness Data Collection</h1>

    <p class="lead text-center">
      Come join us and help us uncover which instructions actually help humans complete complex question answering tasks!
    </p>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <div class="border p-3 overflow-auto mb-3" style="height: 300px;">
            {% include "irb_consent.html" %}
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-10 text-center mb-3">
            {% if user and not reauthenticate %}
              <h3>Thanks for signing in! Create a new room to start!</h3>
              <!-- Show Room Creation Section -->
              <div id="room-section" class="input-group input-group-lg">
                <input type="text" class="form-control form-control-lg" id="new-room-name" placeholder="Type in the room name...">
                <div class="input-group-append">
                  <button id="evaluation-play-btn" type="button" class="btn btn-success btn-lg">Create/Join Room</button>
                </div>
              </div>

            {% else %}
            {% if reauthenticate %}
            <div class="alert alert-warning">
                Your session has expired. Please log in again to continue.
            </div>
            <div id="login-section" class="text-center">
              <a href="{% url 'oauth_login' %}" class="btn btn-primary btn-lg">Authenticate with Wikipedia</a>
            </div>
            {% else %}
              <!-- IRB Agreement and Login Section -->
              <div id="agree-irb">
                <div class="mb-4">
                  <p>Please read and agree to the above IRB before joining or creating a room.</p>
                  <button id="agree-btn" type="button" class="btn btn-primary btn-lg">I Agree</button>
                </div>
              </div>
              {% endif %}

              <!-- Wikimedia OAuth2 Login Button (hidden by default) -->
              <div id="login-section" class="text-center" style="display: none;">
                <p class="mt-4">Please authenticate with Wikipedia to proceed:</p>
                <a href="{% url 'oauth_login' %}" class="btn btn-primary btn-lg">Authenticate with Wikipedia</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'game/home.js' %}"></script>
{% endblock %}
