{% extends "game/base.html" %}
{% load static %}

{% block title %}
<title>The Annotation Game</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">

    <img src="{% static 'game/parrot_md.png' %}" alt="Parrot" class="img-fluid mx-auto d-block" style="max-width: 10%; width: 10%;">
    <h1 class="display-4 text-center">Welcome to</h1>
    <h1 class="display-1 text-center">The Annotation Game</h1>

    <p class="lead text-center">
      The Annotation Game is a trivia game used by researchers at the University of Maryland to generate better quizbowl questions using AI.
    </br>
      Please <b>allow cookies</b> to aid our collection of data.
    </p>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <div class="border p-3 overflow-auto mb-3" style="height: 300px;">
            {% include "irb_consent.html" %}
          </div>
          <button id="evaluation-play-btn" type="button" class="btn btn-success btn-lg">Agree and Play</button>
          <!-- <div class="mt-5">
            <a class="btn btn-secondary m-1" href="/game/evaluation">hs</a>
            <a class="btn btn-secondary m-1" href="/game/hs">hs</a>
            <a class="btn btn-secondary m-1" href="/game/ms">ms</a>
            <a class="btn btn-secondary m-1" href="/game/college">college</a>
            <a class="btn btn-secondary m-1" href="/game/history">history</a>
            <a class="btn btn-secondary m-1" href="/game/science">science</a>
            <a class="btn btn-secondary m-1" href="/game/literature">literature</a>
            <a class="btn btn-secondary m-1" href="/game/trash">trash</a>
          </div> -->

          <!-- <form id="landing-form" class="mt-5 needs-validation" novalidate>
            <div class="form-row">
              <div class="input-group">
                <input id="landing-content" type="text" class="form-control" placeholder="awesome-room">
                <div class="input-group-append">
                  <button id="landing-btn" class="btn btn-success rounded-right" type="button">Go!</button>
                </div>
                invalid-feedback needs to be sibling of input
                See: https://github.com/twbs/bootstrap/issues/23454
                <div class="invalid-feedback">
                  Please enter a valid room name. Only the characters 'a-z', '-', and '_' are valid.
                </div>
              </div>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src={% static "game/home.js" %}></script>
{% endblock %}