{% extends "game/base.html" %}
{% load static %}

{% block title %}
<title>Planapalooza</title>
{% endblock %}

{% block content %}
<div>
  <div>
    <img src="{% static 'game/science-discovery.svg' %}" alt="Lightbulb" class="img-fluid mx-auto d-block" style="max-width: 10%; width: 10%;">
    <h1 class="display-4 text-center">Planapalooza</h1>

    <p class="lead text-center">
      Come help us uncover the best strategies for humans and AI to solve complex questions!
    </p>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <div class="border p-3 overflow-auto mb-3" style="height: 300px;">
            {% include "irb_consent.html" %}
          </div>
        </div>

        <!-- IRB Agreement Section -->
        <div class="row justify-content-center">
          <div class="col-md-10 text-center mb-3">
            <div id="agree-irb">
              <div class="mb-4">
                <p>Please read and agree to the above IRB before joining or creating a room.</p>
                <button id="agree-btn" type="button" class="btn btn-primary btn-lg">I Agree</button>
              </div>
            </div>

            <!-- Room Creation Section -->
            <div id="room-section" style="display: none;">
              <h3>Click below to get started!</h3>
              <button onclick="sendToInstructions()" id="evaluation-play-btn" type="button" class="btn btn-success btn-lg" disabled>Get Started!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'game/home.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const agreeButton = document.getElementById('agree-btn');
    const roomSection = document.getElementById('room-section');
    const playButton = document.getElementById('evaluation-play-btn');

    agreeButton.addEventListener('click', function () {
      agreeButton.disabled = true;
      agreeButton.textContent = "IRB Accepted";
      roomSection.style.display = 'block';
      playButton.disabled = false;
    });
  });
</script>
{% endblock %}
