<div class="card bg-faded h-100">
  <div class="card-header bg-warning" data-bs-toggle="" id="instruction-header" data-bs-target="#instruction-collapse" aria-expanded="false" aria-controls="instruction-collapse">
    <h6>Plan (p)</h6>
  </div>

  <iframe id="instruction-frame" srcdoc='

  <!DOCTYPE html>
  <html lang=&quot;en&quot;>

  <head>
  <meta charset=&quot;UTF-8&quot;>
  <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
  <title>Embedded Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  </head>

    <body>
      <div style="display: flex; justify-content: right; margin: 10px; visibility: hidden" id="follow-plan-div">
        <div class="form-check" id="edit-instructions-container">
          <input class="form-check-input" type="checkbox" value="" id="edit-instructions-checkbox">
          <label class="form-check-label" for="edit-instructions-checkbox">
            I will not follow any plan
          </label>
        </div>
      </div>

      <div class="form-group m-3" style="display: none;" id="rogue-notes">
        <textarea class="form-control" placeholder="Enter any notes here..." rows=10></textarea>
      </div>

      <div id="instructions-container" style="margin: 10px;">
      </div>

      <style>  
        .flash-highlight {
          background-color: #fffca1 !important;
        }
      </style>

      <script>
        document.addEventListener("keydown", function (event) {
          if (event.key === "Escape") {
            const activeElement = document.activeElement;
            if (activeElement.tagName === "INPUT" || activeElement.tagName === "TEXTAREA") {
              activeElement.blur();
            }
          } else {
            if (window.parent && typeof window.parent.handleKeyDown === "function") {
              window.parent.handleKeyDown(event);
            }
          }
        });
      
        document.addEventListener("keypress", function (event) {
            if (window.parent && typeof window.parent.handleKeyPress === "function") {
              window.parent.handleKeyPress(event);
            }
        });
      </script>
      
    </body>
  </html>
  '>
  </iframe>
</div>
