<div class="card bg-faded h-100">
  <div class="card-header bg-warning" data-bs-toggle="" id="instruction-header" data-bs-target="#instruction-collapse" aria-expanded="false" aria-controls="instruction-collapse">
    <h6>Plan (p)</h6>
  </div>

  <iframe id="instruction-frame" srcdoc='
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <body>
      <div style="display: flex; justify-content: right; margin: 10px; visibility: hidden" id="follow-plan-div">
        <div class="form-check" id="edit-instructions-container">
          <input class="form-check-input" type="checkbox" value="" id="edit-instructions-checkbox" onclick="parent.toggleRogueCheckbox(this)">
          <label class="form-check-label" for="edit-instructions-checkbox">
            I will not follow any plan and will buzz on my own
          </label>
        </div>
      </div>

      <div id="instructions-container" style="margin: 10px;">
      </div>

      <script>
        document.addEventListener("keydown", function(event) {
          if (event.key === "Escape") {
            const activeElement = document.activeElement;
            if (activeElement.tagName === "INPUT" || activeElement.tagName === "TEXTAREA") {
              activeElement.blur(); // Remove focus from the input field
            }
          } else {
            parent.handleKeyDown(event);
          }
        });
        document.addEventListener("keypress", function(event) {
          if (event.key === "Escape") {
            const activeElement = document.activeElement;
            if (activeElement.tagName === "INPUT" || activeElement.tagName === "TEXTAREA") {
              activeElement.blur(); // Remove focus from the input field
            }
          } else {
            parent.handleKeyPress(event);
          }
        });
      </script>
    </body>
  '>
  </iframe>
</div>
