<div class="card bg-faded h-100">
  <div class="card-header" style="background-color: #d0e9ff;" data-bs-toggle="" id="instruction-header" data-bs-target="#instruction-collapse" aria-expanded="false" aria-controls="instruction-collapse">
    <h6>Model-Generated Instructions</h6>
  </div>

  
  <div class="card-body collapse show" id="instruction-collapse">
      <span id="instruction-space">
          <form id="model-instructions">Model instructions will go here...</form>            
      </span>
      <br />
  </div>
</div>