{% extends "game/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Leaderboard</h1>
        <p class="lead text-center">
            Check out who's leading in The Annotation Game! Note: the leaderboard only shows users with 20+ answered questions.
        <p class="text-center">
            <a href="/incentives">For incentive/compensation details, click here.</a> Users need to answer and provide feedback for 100+ questions to be eligible for incentives. Skipped questions are not counted towards the leaderboard</p>

        <div class="table-responsive">
            <table 
                id="leaderboard"
                class="table table-striped"
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                data-search-on-enter-key="true"
            >
                <thead class="thead-dark">
                    <tr class="tr-class-1">
                        <th data-field="id" scope="col">#</th>
                        <th data-field="name" scope="col">Name</th>
                        <th data-field="turing-score" scope="col" data-sortable="true"> 
                            <div data-bs-toggle="tooltip" title="Measures how well a user can differentiate AI-generated questions from human-written questions.">
                                Turing Score 🤖
                            </div>
                        </th>
                        <th data-field="knowledge-score" scope="col" data-sortable="true"> 
                            <div data-bs-toggle="tooltip" title="Measures how good you were at answering questions correctly.">
                                Knowledge Score 🧠
                            </div>
                        </th>
                        <!-- <th scope="col">Accuracy</th> -->
                        <!-- <th scope="col">Precision</th> -->
                        <!-- <th scope="col">Recall</th> -->
                        <th data-field="total" scope="col" data-sortable="true">Total Questions Seen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in leaderboard_data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.f1|floatformat:2 }}</td>
                        <td>{{ user.expected_wins|floatformat:2 }}</td>
                        <td>{{ user.total }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center">No data available</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock %}

