{% extends "game/base.html" %}
{% load static %}

{% block title %}
<title>Planorama - Incentives</title>
{% endblock %}

{% block content %}

<body>
    <div class="container my-5">
        <h1 class="mb-6">User Study Incentive Structure</h1>
        
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-info-circle"></i> Eligibility Criteria</h5>
                <p class="card-text">Participants must answer at least 25 questions to be eligible for incentives.</p>
                <p class="card-text">For every five questions answered, you will be awarded five dollars ($1 per question). There are a maximum of 300 questions that can be answered (150 math, 150 trivia).</p>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-trophy"></i> Performance Rewards (see <a href="/leaderboard">leaderboard</a>)</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Top 3 in Accuracy:</strong> Each receives a $50 gift card.</li>
                    <li class="list-group-item"><strong>Top 3 in Speed:</strong> Each receives a $50 gift card.</li>
                    <li class="list-group-item">We will take the Top 3 winners in both question types (math and trivia) who have answered 25+ questions. You are eligible to win in both categories!</li>
                </ul>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-school"></i> University Coursework Extra Credit</h5>
                <p class="card-text">If you were recruited to this study from a University course in exchange for extra credit, your Professor will later set up an assignment on your course website where you can submit the email you used to complete the study. Once we verify you completed the study (answering 25 questions), your professor will distribute your extra credit accordingly. If you decide to complete our study and do not fill out the assignment in your class, you are still eligible for the monetary compensation above.</p>
                <p class="card-text">Please note that after answering 25 questions, you are only eligible for either monetary compensation or coursework credit, <strong>not both</strong>. If you answer more than 25 questions and choose coursework credit, the additional questions you answer are eligible for the monetary compensation above.</p>
            </div>
        </div>

        <footer class="text-muted py-4">
            <p>If you have any questions, please reach out to the  <a href="mailto:planstudyumd@gmail.com">email</a> created for this project. If you don't receive a response within a day or your issue is urgent, please reach out to Nishant Balepur, one of the researchers leading this project, <a href="mailto:nbalepur@umd.edu">via email</a>.</p>
        </footer>
    </div>

</body>

{% endblock %}

