<div class="container my-5">
    <h1 class="text-center mb-4">IRB Consent Form</h1>
    <h2>Project Title: Generating Quizbowl Questions using LLMs</h2>
    <h3>Purpose of the Study:</h3>
            <p>This research is being conducted by Prof. Jordan Boyd-Graber at the University of Maryland, College Park.
                We are inviting you to participate in this research project because you are interested in trivia,
                Quizbowl, Jeopardy, and/or general knowledge. The purpose of this research project is to provide
                feedback on AI-generated quizbowl questions in order to improve them.</p>

            <h3>Procedures:</h3>
            <p>Users who partake in the study will have the ability to choose specific categories of questions they wish
                to study. Users will then study facts through the application for a flexible number of minutes each day,
                likely ranging between 10 and 60 minutes, until the end of the study of August 2024.</p>
            <p>During our study, we estimate that you will spend between 5 and 100 hours. Participating in this research
                is a requirement for using our application but there is no minimum required time commitment for using
                the application.</p>
            <p>To start, the user will incrementally be shown a question to answer. Each time a question is answered,
                information including the user’s answer, correctness of the answer, whether the user attempted to
                answer, the position in the question where the user attempted to answer, and the user id will be stored
                in the database. Next, a user will be directly prompted to provide feedback about the previous question
                in a questionnaire format (see supporting documents). Each time a user submits feedback about a
                question, the feedback will be stored in a database. This includes: the guessed generation method (AI or
                human), the interestingness rating, the submitted clue order (and the number of inversions), and a list
                of (un)factual clues. The only identifying information tied to these user ids are the emails and
                usernames of users in this study. Once a user answers a question and provides feedback, the question
                will not be shown to them again.</p>
            <p>We will have multiple rounds of study to iterate and improve our AI-generated questions. Throughout these
                rounds, we will be gathering user feedback to help improve suggestions. In round two of the study
                onwards, users will be tested on different human-written questions and newly AI-generated questions. All
                other aspects of the website, including the feedback mechanism (questionnaire) will remain the same.</p>


            <h3>Potential Risks and Discomforts:</h3>
            <p>The main known risk to participants of this study is in confidentiality of study participation and data
                collected while using the website. This risk will be mitigated through the procedures described in the
                following Confidentiality section.</p>

            <h3>Potential Benefits:</h3>
            <p>The benefits to participants include the ability to practice trivia online using new questions, but there
                are no other direct benefits. However, this study aims to use techniques in machine learning and natural
                language processing to generate quizbowl questions about new topics without the need for a human writer.
                Participants in this study may therefore benefit from being able to better study specific topics with
                few existing quizbowl questions written about them. This could benefit participants studying for
                quizbowl and other academic competitions.</p>

            <h3>Confidentiality:</h3>
            <p>Data collected in this study will be securely stored in a database hosted on password protected
                webservers and cloud-based file storage. Only researchers will have access to users’ emails and no other
                identifying information will be collected in the app. While users who have completed 20 or more
                questions will be shown on the public leaderboard (annotationgame.com/leaderboard), only their chosen
                username will be displayed on the leaderboard. Therefore, users will be able to remain anonymous on the
                leaderboard if they desire. Since emails are PII, they will not be included on the public leaderboard.
                After the end of the experiment, data will be anonymized and released publicly. User ids are used
                throughout the experiment to serve questions to the users, collect feedback, and produce statistical
                leaderboards. The collected usernames and emails and links to public statistics pages will be destroyed
                after the completion of this study. To maintain linkage in study data, a new randomized user id will be
                generated in replacement of the identification keys in use during the study.</p>

            <h3>Compensation:</h3>
            <p>We will conduct two rounds of study between May 2024 and August 2024, each lasting roughly one month. At
                the end of each round, a $20 gift card will be given to ten (10) users who answered more than 100
                questions: the five (5) users who were best at answering the questions as measured by expected wins
                (“Knowledge score” on the site) as well as the five (5) users who were best at differentiating
                human-written questions from AI-generated questions as measured by F1 score (“Turing score” on the
                site). Other users who answer over 100 questions will be randomly selected to receive one of ten gift
                cards, $10 each. Providing blatantly nonsensical or irrelevant feedback may deem users ineligible for
                prizing. Please ensure your feedback is constructive and directly related to the questions posed. Gift
                cards will be distributed over email.</p>

            <h3>Right to Withdraw and Questions:</h3>
            <p>Your participation in this research is completely voluntary. You may
                choose not to take part at all. If you decide to participate in this
                research, you may stop participating at any time. If you decide not to
                participate in this study or if you stop participating at any time, you
                will not be penalized or lose any benefits to which you otherwise
                qualify.
                If you decide to stop taking part in the study, if you have questions,
                concerns, or complaints, or if you need to report an injury related to the research, please contact the
                investigator:</p>
            <p class="container text-center">
                Jordan Boyd-Graber</br>
                4146 Iribe University of Maryland</br>
                College Park, Maryland, 20742</br>
                Email: <a href="mailto:jbg@umiacs.umd.edu">jbg@umiacs.umd.edu</a></br>
                Telephone: (301) 405-6766</p>

            <h3>Participant Rights:</h3>
            <p>If you have questions about your rights as a research participant or wish to report a research-related
                injury, please contact:

            <p class="container text-center">
                University of Maryland College Park</br>
                Institutional Review Board Office</br>
                1204 Marie Mount Hall</br>
                College Park, Maryland, 20742</br>
                E-mail: <a href="mailto:irb@umd.edu">irb@umd.edu</a></br>
                Telephone: 301-405-0678
            </p>
            <p>
                For more information regarding participant rights, please visit:
                <a href="mailto:https://research.umd.edu/irb-research-participants">
                    https://research.umd.edu/irb-research-participants</a>
                This research has been reviewed according to the University of
                Maryland, College Park IRB procedures for research involving
                human subjects.
            </p>

            <h3>Statement of Consent</h3>
            <p>By clicking “Agree and Play”, you indicate that you are at least 18 years of age; you have read this consent form
                or have had it read to you; your questions have been answered to your satisfaction, and you voluntarily
                agree to participate in this research study.</p>

</div>